<!doctype html>
<html>
<head>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <link rel="stylesheet" href="styles.css">
    <script src="initial.js" type="text/javascript"></script>
    <script src="jquery-3.4.1.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-contour.v1.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3-color@3"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3-interpolate@3"></script>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

</head>
<body>

    <header>

        <div class="header_leftArea">
            <h3>M.S. <span>Project</span></h3>
        </div>

        <div class="header_rightArea">
            <a class ="header_topBtn" href="initial.html">Home</a>
            <a class ="header_topBtn" href="insert.html">How To Load Your Model</a>
            <a class ="header_topBtn" href="metrics.html">Metrics</a>
            <a class ="header_topBtn" href="about.html"><span>About</span></a>
        </div>
    </header>

    <div class="sidebar">
        <a href="#">References</a>
        <a href="#" style="text-decoration:none; padding: -5px;">Contingency Space: A Semimetric Space for Classification Verification</a>
    </div>

    <div class="content">

        <div class="aboutLeft">
            <img id="creatorPic" src="../img/gunnarsson_img.jpg" alt="FaceImg">
            <br>
            Email:
            <br>
            <a href="#">egillragnarg@gmail.com</a>
            <br>
            <a href="#">egunnarsson1@student.gsu.edu</a>
            <br><br>
            Phone:
            <br>
            <a href="#">(404) 678-3732</a>
        </div>

        <div class="aboutRight">
            <div id="creatorName">Egill Ragnar Gunnarsson</div>
            <br><br>
            <b>M.S. Student at Georgia State University</b>
            <br><br>
            M.S., Data Science and Analytics — Concentration in Big Data and Machine Learning, Georgia State University, Summer 2021
            <br><br>
            B.S., Computer Science, Georgia State University, 2020
            <br><br>
            <h2>References:</h2>
            [1] A. Ahmadzadeh, D. Kempton, P. Martens, R. Angryk. "<i>Contingency Space: A Semimetric Space for Classification Verification</i>". 2021.
        </div>
    </div>


</body>
</html>
